.logo {
	width: 35%;
}

.textHeader {
	font-size: 25px;
	color: #ee7c04;
	margin-left: 55px;
}

.timeDate {
	padding: 7px
}

.title {
	background: #ee7c04;
	padding: 5px 0px;
	text-align: center;
	margin-bottom: 25px;
	border: 1px black solid;
}

.contentAnswer {
	padding: 35px 70px;
}

.childcontentAnswer {
	padding: 5px 0px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ee7c04;
	color: white;
	text-align: center;
	padding: 10px;
}

.countdown {
	margin: 0 auto;
	max-width: 350px;
}

.countdown .square {
	display: inline-block;
}

.countdown .digits {
	font-size: 15px;
	background: #fff;
	color: #000;
	border-radius: 5px;
}

.btn{
	border: 1px black solid;
	background: #ee7c04;
	padding: 10px 35px;
}